<br>
<div id="principal"   class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 offset-4">
    <div class="">
        <div class="container" style="color: rgb(255, 255, 255);">
            <br>
            <h1><strong>Control Reuniones <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#34ace0" class="bi bi-people-fill" viewBox="0 0 16 16">
              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
              <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg> </strong></h1>
            <form action="" #formclima="ngForm" >
                <div class="mb-3 container">
                  <label >Titulo:</label>
                  <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="reunion.titulo">
                </div>
                <div class="mb-3 container">
                  <label >Caracter:</label>
                  <select class="form-select" name="oficina" id="oficina" [(ngModel)]="reunion.caracter" #oficina="ngModel" required>
                    <option value="Flexible">Flexible</option>
                    <option value="Importante">Importante</option>
                    <option value="Prioritario">Prioritario</option>
                    <option value="Urgente">Urgente</option>
                  </select>
                </div>
                
                <div class="mb-3 container">
                  <label >Fecha:</label>
                  <input type="date" name="nombre" class="form-control" id="nombre" [(ngModel)]="reunion.fecha">
                </div>
                <div class="mb-3 container">
                  <label >Hora Inicio:</label>
                  <input type="time" name="nombre" class="form-control" id="nombre" [(ngModel)]="reunion.horaInicio">
                </div>
                <div class="mb-3 container">
                  <label >Hora Fin:</label>
                  <input type="time" name="nombre" class="form-control" id="nombre" [(ngModel)]="reunion.horaFin">
                </div>
                <div class="form-group mb-3">
                  <label for="recursos" class="form-label">oficina</label>
                  <select class="form-select" name="oficina" id="oficina" [(ngModel)]="reunion.oficina" >
                    <option  [ngValue]="ofi" *ngFor="let ofi of oficinas">{{ofi.numero}}</option>
                </select>
              </div>
                <div class="form-group mb-3">
                    <label for="recursos" class="form-label">Recursos</label>
                    <select class="form-select" name="recurso" id="recurso" [(ngModel)]="recurso" #rec="ngModel" required>
                      <option [ngValue]="recu" *ngFor="let recu of recursos">{{recu.nombre}}</option>
                    </select>
                    <button class="btn btn-primary m-3" type="button" (click)="agregarRecursos(recurso)">Agregar</button>
                </div>
                <div *ngIf="recursosAgregar.length!=0">
                  <h5>Recursos de la Reunion: </h5>
                  <table>
                    <table class="table table-responsive table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Tipo Recurso</th>
                          <th scope="col">stock</th>
        
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let recur of recursosAgregar">
                          <td>{{recur.nombre}}</td>
                          <td>{{recur.tipoRecursos}}</td>
                          <td>{{recur.stock }}</td>
                          <td>
                            <button type="button" class="btn btn-secondary" (click)="quitarRecursos(recur)">Quitar
                              Recurso</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </table>
                </div>
                <div *ngIf="participantesAgregar.length!=0">
                  <h5>Participantes de la Reunion: </h5>
                  <table class="table table-responsive table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">ID/th>
                        <th scope="col">Apellido y Nombre</th>
                        <th scope="col">Dependencia</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let part of participantesAgregar">
                        <td>{{part._id}}</td>
                        <td>{{part.apellido}}, {{part.nombre}}</td>
                        <td>{{part.dependencia}}</td>
                        <td>
                          <button type="button" class="btn btn-secondary" (click)="quitarParticipante(part)">Quitar
                            Participante</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="form-group mb-3">
                    <label for="recursos" class="form-label">Participantes</label>
                    <select class="form-select" name="participantes" id="participantes" [(ngModel)]="participante" #part="ngModel" required>
                      <option [ngValue]="par" *ngFor="let par of participantes">{{par.nombre}}</option>
                    </select>
                    <button class="btn btn-primary m-3 mb-0" type="button" (click)="agregarParticipantes(participante)">Agregar</button>
                </div>
              
              
                <div>
                    <button class="btn btn-secondary" (click)="altaReunion()" >  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
                      </svg> CREAR Reunion</button>
                    </div>
            </form>
        </div>
    </div>
</div>      
<div class=" col-sm-12 col-xs-12 ">
  <h5>Participantes de la Reunion: </h5>
  <table class="table-responsive table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Caracter</th>
        <th scope="col">Fecha</th>
        <th scope="col">Horario</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reu of reuniones">
        <td>{{reu._id}}</td>
        <td>{{reu.titulo}}</td>
        <td>{{reu.caracter}}</td>
        <td>{{reu.fecha}}</td>
        <td>{{reu.horaInicio}}/{{reu.horaFin}}</td>
        <td>{{reu.estado}}</td>
        <td style="margin: 0" class="btn-group">
          <button type="button" class="btn btn-info barcode" (click)="cambiarEstado(reu._id,'Realizada')" >Reunion Realizada</button>
          <button type="button" class="btn btn-danger barcode"  (click)="cambiarEstado(reu._id,'Cancelada')">Reunion Cancelada</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>