<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/home" class="m-3" style="text-decoration: none;color: rgb(255, 0, 0); ">Home</a>
        <a routerLink="/login" class="m-3" style="text-decoration: none;color: rgb(255, 0, 0); ">login</a>
        <a routerLink="/empC" class="m-3" style="text-decoration: none;color: rgb(255, 0, 0); ">empC</a>




      </div>
      
    </div>
    <div class="me-2 bd-example">
      <button class="btn btn-outline-success" (click)="crearUsuario()">usuario Rapido</button>
    </div>
    <div class="me-2 bd-example">
      <button class="btn btn-outline-success" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModalLong">notificaciones</button>

    </div>
    <div>
        <a *ngIf="!loginService.userLoggedIn()" [routerLink]="['login']">(Login)</a>
        <a *ngIf="loginService.userLoggedIn()" [routerLink]="['login']" (click)="logout()">
          {{loginService.userLogged()}} (logout)
        </a>
      </div>
  </div>
</nav>



