h1 {
    color: #ffb142;
    border-style: solid;
    border-color:#ffb142;
    border-radius: 25px;
    border-width: 10px;
}
img {
    border-style: solid;
    border-radius: 25px;
    border-color: #ffb142;
    border-width: 10px;
    width: 100%;
    height: auto;
}
#imagen {
    border-style: solid;
    border-color: #FFF;
    width: auto;
    height: auto;
    
}

div.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    }

    img:hover:hover {filter: blur(5px);}



