<br>
<br>

<button class="btn btn-primary" (click)="prueba()" data-bs-toggle="modal"
    data-bs-target="#exampleModalLong">notificaciones</button>

<div class="modal fade" id="exampleModalLong" tabindex="-1" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Notificaciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"  *ngFor="let noti of notificaciones">
                <p>{{noti.mensaje}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><strong>CERRAR</strong></button>
                <button type="button" class="btn btn-primary"><strong>GUARDAR</strong></button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<h1 class="m-auto d-block text-center">R E U N I O N E S  &nbsp;&nbsp;&nbsp;2 0 2 2</h1>
<br>
<br>

<img class="m-auto d-block"  src="/assets/REUNIONES.png" alt="">
<br>
<br>


